*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.toc
*.run.xml
*.synctex.gz
*dist-newstyle*
cabal.project.local
cabal.project.local~
*.DS_Store
*Parser.hs
*Lexer.hs
.claude/*
!.claude/hooks/
!.claude/settings.json
